
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link type="text/css" rel="stylesheet" href="~/Content/semantic.css" />
<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>

<div class="ui vertical inverted  menu left  visible" style="height: 100%; width: 150px;">

    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="/images/abp-logo.png">
        </a>
        <a href="/"><b>UI 文档</b></a>
    </div>
    <a class="item" href="#">
        <b>起步</b>
    </a>
    <a class="item" href="#">
        <b>New in 2.1</b>
    </a>
    <div class="item">
        <div class="header">介绍</div>
        <div class="menu">
            <a class="item" href="#">集成 </a>
            <a class="item" href="#">构建工具 </a>
            <a class="item" href="#">菜谱 </a>
            <a class="item" href="#">词汇表 </a>
        </div>
    </div>

</div>