
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link type="text/css" rel="stylesheet" href="~/Content/semantic.css"/>
<script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>

<div class="ui  menu">
    <div class="header item">Index</div>
    <a class="item">First</a>
    <a class="item">Second</a>
    <div class="right menu">
        <a class="item">Three</a>
        <a class="item">For</a>
    </div>
</div>